<!DOCTYPE html>
<html>
  <head>
    <title>
      [% IF meta.title %][% meta.title %][% ELSE %]NO TITLE[% END %]
    </title>
    <link rel=stylesheet type=text/css href=./css/slydr.css    />
    <script type=text/javascript
            src=https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js></script>
    <script type=text/javascript
            src=https://github.com/OscarGodson/jKey/raw/master/jquery.jkey.js></script>
    <script type=text/javascript
            src=http://github.com/balupton/jquery-syntaxhighlighter/raw/master/scripts/jquery.syntaxhighlighter.min.js></script>
    <script type=text/javascript>
      $.SyntaxHighlighter.init({
        theme: "google" ,
        lineNumbers: false
      });
      var minSlide = [% meta.min %];
      var maxSlide = [% meta.max %];
      $(".slides:last-child").css({ page-break-after: "never" });
    </script>
    <style type="text/css">
      <!--
      @media print {
        .slide {
          border: 0px;
          display: block !important;
          margin-bottom: 10px;
          page-break-after: always;
        }
      }
      -->
    </style>
  </head>
  <body>
    <div id=slides>
[% slide FOREACH slide IN slides %]
    </div>
    <script type=text/javascript src=./js/slydr.js></script>
  </body>
</html>
